@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrollbar inside contract viewer */
.contract-scroll::-webkit-scrollbar {
  width: 8px;
}

.contract-scroll::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 8px;
}

.contract-scroll::-webkit-scrollbar-track {
  background: #f3f3f3;
}
